<!DOCTYPE html>
<html>
  <head>
    <title>Etsydemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <navbar>
      <%= link_to "About", pages_about_path %>
      <%= link_to "Contact", pages_contact_path %>

    </navbar>
    <%= yield %>
    <p>&copy; 2018</p>
  </body>
</html>
